/*HERO section*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.section-hero {
  background: #2f303a;
  text-align: center;
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/back.jpg);
  background-image:linear-gradient(rgba(47, 48, 58, 0.4));

}
.section-hero-but {
  background-color: #2196f3;
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*HIDDEN*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.features-container {
  display: flex;
  align-self: start;
}
.features-box {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.features-icon {
  width: 70px;
  height: 70px;
}
.features-mini:not(:last-child) {
  margin-right: 30px;
}

/*возможности*/
.capabilities-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*род занятий*/
.occupation-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.occupation-section {
  padding-bottom: 94px;
}
.list-image {
  position: relative;
  width: 100%;
}
.image-tittle {
  position: absolute;
  width: 370px;
  
  font-weight: bold;
  font-size: 14px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  right: 30px;
  width: 100%;
  top: 197px;
  
}

.occupation-image {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.list-image {
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
/*команда*/
.section-comand {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.comand-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-member {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.text-acent-mail {
  color: var(--text-acent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.text-acent-mail:focus,
.text-acent-mail:hover {
  color: var(--text-hover-color);
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.comand-title {
  margin-bottom: 50px;
}

.one-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.one-team-image {
  background-color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-man {
  padding: 30px 32px;
}

.social-icons {
  display: flex;

  width: 20px;
}
.social-icons-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;;
  
}
.social-icons-link:hover,
.social-icons-link:focus {
  color: #ffffff;
  background: #2196f3;
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); 

}
.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  
}

/*clients*/

.clients-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
}

.list-clients {
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  padding-bottom: 94px;
}
.clients-icons-item:not(:last-child) {
  margin-right: 30px;
}
.clients-icons-link {
  width: 170px;
  

  /* height: 90px;*/
  
}
.clients-icons-svg {
  width: 170px;
  height: 90px;
    border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  
  
}
.clients-icons-svg:not(:last-child) {
  margin-right: 30px;
}

.clients-icons-link:hover .clients-icons-svg,
.clients-icons-link:focus .clients-icons-svg {
  fill: #2196f3;
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  
}

/*MODAL*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
